
<%- include("partials/header") %> 

<h1>Compose</h1>

<form class="mb-3" action="/compose" method="post">
    <label for="exampleFormControlInput1" class="form-label">Title</label>
    <input type="text" class="form-control" name="compose_title" >
    <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Post</label>
        <textarea class="form-control" rows="3" name="compose_text"></textarea>
    </div>
  <button class="btn btn-primary " type="submit">post</button>
</form>



<%- include("partials/footer") %> 